$coral: #dee4ff;
$indigo: #767EE9;
$darkcoral: #acbbfb;
$pink: #e5c5f3;
$black: #2d2929;

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #f9f9fa;
  color: $black;
}

#header {
  text-align: center;
  padding: 1em;

  h1 {
    font-size: 36px;
    margin: 0;
    background: $coral;
    display: inline-block;
    padding: 0.25em 0.5em;
    border-radius: 5px;
    border: 2px solid $indigo;
    box-shadow: 8px 8px $indigo;
    color: $black;
  }
}

h1, h2 {
  font-family: 'Inconsolata', monospace;
  letter-spacing: 0.05em;
  line-height: 1.25;
}

.text-image-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1.5em;
  margin: 3em auto;
  max-width: 1200px;
  position: relative;

  >div {
    flex-basis: 50%;
  }

  .ti-text {
    background: $coral;
    border: 2px solid $indigo;
    border-radius: 5px;
    padding: 2.5em 1.5em;
    box-shadow: 8px 8px $indigo;

    p, a {
      margin-top: 0;
      line-height: 1.5;
      letter-spacing: 0.04em;
    }

    a {
      position: relative;
      color: $indigo;
      z-index: 2;
      text-decoration: none;
      font-weight: bold;
      letter-spacing: 0.06em;
      padding: 0 0.25em;

      &:after {
        content: '';
        left: -0.01em;
        right: -0.01em;
        bottom: 0;
        top: 65%;
        background: $pink;
        position: absolute;
        z-index: -1;
        transition: top 0.25s ease;
      }

      &:hover, &:focus {
        outline: none;
        &:after {
          top: 0;
        }
      }
    }
  }

  .ti-img {
    position: relative;

    .ti-img-bg {
      position: absolute;
      top: 2em;
      bottom: -2em;
      left: -2em;
      right: 0;
      background: $darkcoral url("/assets/images/computer.png") repeat-x center;
      border: 2px solid $pink;
      z-index: -1;
      border-radius: 5px;
      box-shadow: 8px 8px $pink;
      background-size: 300px;

      img {
        display: none;
        max-width: 300px;
        margin: 0 auto;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .text-image-container {
    justify-content: center;
    padding: 1em;
    margin: 0 auto 2em;

    >div {
      flex-basis: 100%;
    }
    .ti-img {
      margin-bottom: 1.5em;
      order: -1;
      max-width: 325px;
      padding: 1em;

      .ti-img-bg {
        position: static;
        background-image: none;

        img {
          display: block;
        }
      }
    }
  }
}

section.newsletter {
  max-width: 1200px;
  margin: 4em auto 2.5em;
  padding: 0 1em;
  text-align: center;

  h2 {
    margin-top: 0;
  }

  .mc-field-group {
    margin-bottom: 1em;

    label {
      display: block;
      margin-bottom: 0.25em;
      font-family: 'Inconsolata', monospace;
      font-weight: bold;
      letter-spacing: 0.04em;
    }

    input {
      background-color: $coral;
      border: 2px solid $indigo;
      border-radius: 5px;
      padding: 0.25em 0.5em;
      letter-spacing: 0.04em;
      max-width: 300px;
      width: 100%;
      transition: box-shadow 0.25s ease;

      &:active, &:focus {
        outline: none;
        box-shadow: 5px 5px $indigo;
      }
    }
  }

  .button {
    background: $coral;
    border: 2px solid $indigo;
    border-radius: 25px;
    padding: 0.5em 2em;
    font-weight: bold;
    font-family: Inconsolata, monospace;
    transition: box-shadow 0.25s ease;

    &:hover, &:focus {
      box-shadow: 5px 5px $indigo;
      outline: none;
    }
  }
}